#chart rect{
  fill: #4aaeea;
}

#chart text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.heading{
  text-align: center;
}
.axis text{
  font: 15px sans-serif;
}

.axis path, .axis line{
  fill: none;
  stroke : #fff;
  shape-rendering: crispEdges;
}

body{
  background: #1a1a1a;
  color : #eaeaea;
  padding-top: 40px;
  padding-left:70px;
}
